.navigation {
  width: 46%;
  color: $color-white;
  display: flex;
  align-items: center;
  @include desktop {
    width: 63%;
  }
}
.navigation__list {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: ;
}

.navigation__item {
  transition: 0.3s;
  &:hover {
    color: $color-orange;
  }
}

.navigation--footer {
  width: 80%;
}
