.navigation {
  width: 50%;
  color: $color-white;
}
.navigation__list {
  display: flex;
  justify-content: space-between;
}

.navigation__item {
  transition: 0.3s;
  &:hover {
    color: $color-orange;
  }
}

.navigation--footer {
  width: 80%;
}
