.scroll {
  display: flex;
  align-items: center;
  margin-bottom: 15px;

  &__name {
    font-size: 18px;
  }

  &__block {
    width: 30px;
    height: 30px;
  }

  &__icon {
    cursor: pointer;
    fill: $color-white;
    &:hover {
      width: 32px;
    }
  }
  z-index: 5;
}
