.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-top: 65px;
  z-index: 10;
  
  @include tablets {
    width: 100%;
    align-self: flex-start;
    margin-left: 20px;
  }
}
