.works {
  padding-top: 190px;
  padding-bottom: 206px;
  @include tablets {
    padding-top: 100px;
  }
}

.works__title {
  color: $dblue-color;
  font-size: 36px;
  font-weight: bold;
  align-self: flex-start;
}

 .works__content {
   margin-top: 92px;
 } 