section.about.section
    +image("content/grass.png", "about__grass")
    +image("content/matrix.png", "about__matrix")
    .about__overlay
    .container.container-about
        .about__content-wrap
            include ../blocks/about-content