section.about.section
    +image("content/grass.png", "about__grass", "", "presentation")
    +image("content/matrix.png", "about__matrix", "presentation")
    .about__overlay
    .container.container-about
        .about__content-wrap
            include ../blocks/about-content