section.about.section
    +image("content/matrix.png", "about__matrix", "presentation")
    .about__overlay
    .container.about__container
        .about__content-wrap
            include ../blocks/about-content