header.header.section
   include ../blocks/logo
   include ../blocks/navigation
   +nav(["Главная","Обо мне","Навыки","Работы","Отзывы","Связаться"], "header")
   include ../blocks/socials
   +socials("header")