section.reviews.section#reviews
    +image("content/leafBig.png", "reviews__leaf-big", "", "presentation")
    +image("content/leaf1.png", "reviews__littleleaf1", "", "presentation")    
    .container.reviews__container
        #reviews-slider