section.my-skills.section#skills
    .container.skills__container
        .skills__title-wrap
            h2.skills__title.section__title Чем я могу быть полезен вам
            .skills__title-desc.main-text
                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        .skills__widget
            #skills-container