<<<<<<< HEAD
section.my-skills.section#skills
    .container.my-skills__container
        .my-skills__title-wrap
            h2.my-skills__title.title Чем я могу быть полезен вам
            .my-skills__title-desc.main-text
                p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        .my-skills__widget
            #skills-container
=======
section.skills.section
    +image("content/hands.png", "skills__hands", "", "presentation")
    .container.skills__container
        .skills__title-wrap
            h2.skills__title.section__title Чем я могу быть полезен вам
            p.skills__title-desc.main-text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
        .skills__content
            h3.skills__row-name Front-end
            include ../blocks/circle
            ul.skills__row
                +circle(["HTML5"],["-25"])
                +circle(["CSS3"],["-15"])
                +circle(["javascript"],["-75"])
                +circle(["jquery и Vue.js"],["-15"])
            h3.skills__row-name Workflow
            include ../blocks/circle
            ul.skills__row
                +circle(["GIT"],["-15"])
                +circle(["Terminal"],["-25"])
                +circle(["Gulp"],["-50"])
                +circle(["Webpack"],["-65"])
>>>>>>> f8c2dd765a84e39ec510baf23cbc7b36c4df9418
