section.welcome.fullscreen-section.section
    +image("content/welcome-train2.png", "welcome__pic-train", "", "presentation")
    .container.welcome__container
        include ./header
        .welcome__content
            p.welcome__title-desc.main-text Личный сайт веб разработчика
            h1.welcome__title Егоров Иван
        .scroll-wrap
            include ../blocks/scroll