section.welcome.fullscreen-section.section
    +image("content/welcome-train2.png", "welcome__pic-train", "", "presentation")
    .container.container-welcome            
        include ./header
        .welcome__content
            p.welcome__title-desc Личный сайт <br>веб разработчика
            h1.welcome__title Егоров<br> Иван
        include ../blocks/scroll