section.welcome.fullscreen-section.section.parallax#welcome
    include ../blocks/parallax    
    .container.welcome__container
        include ./header
        h1.welcome__content
            .welcome__title-desc.main-text Личный сайт веб разработчика
            .welcome__title Егоров Иван
        .scroll-wrap
            include ../blocks/scroll