<<<<<<< HEAD
section.works.section#works
    .container.works__container
        h2.works__title.title Мои работы
=======
section.works.section
    .container.works__container
        h2.works__title.section__title Мои работы
>>>>>>> f8c2dd765a84e39ec510baf23cbc7b36c4df9418
        .works__content
            #slider-component