script(type="text/x-template")#reviews-template
    .slider-reviews
        .reviews__title-wrap
            h2.reviews__title.title Что обо мне говорят
            .reviews__control
                button(ref="prev" type="button" @click="previous()").reviews__button.reviews__button-left
                    +icon("shortarrow", "reviews__control-ico reviews__control-left")
                button(ref="next" type="button" @click="next()").reviews__button.reviews__button-right
                    +icon("shortarrow", "reviews__control-ico reviews__control-right")
        .reviews__wrap
            flickity(ref="flickity" :options="flickityOptions")
                li(v-for="review in reviews" :key="review.id").reviews__item
                    review(
                        :review="review"
                    )

script(type="text/x-template")#review-template
    .reviews__content
        .reviews__text.main-text
            p {{review.text}}
        .reviews__author
            .reviews__avatar-block
                img(:src="review.avatar" :alt="review.author").reviews__author-avatar
            .reviews__author-wrap
                .reviews__author-name {{review.author}}
                .reviews__author-occupation.main-text {{review.position}}