.about__content
    .about__id-card
        .about__avatar-block
            +image("content/avatar.jpg", "about__avatar", "Мое фото")
        table.about__info
            tr.about__row
                td.about__row-name Проживаю:
                td.about__row-data Челябинск
            tr.about__row
                td.about__row-name Возраст:
                td.about__row-data 33 года
            tr.about__row
                td.about__row-name Родился:
                td.about__row-data 10 апреля 1986
    .about__description
        .about__greeting.main-text Привет, меня зовут
        h2.about__name.title Иван Егоров
        .about__occupation.main-text
            p Я занимаюсь разработкой современных сайтов и приложений. Мне&nbsp;нравится делать интересные и современные проекты.
        .about__this-site.main-text
            p Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите,&nbsp;как тут всё классно и красиво!
