.parallax__layer(data-speed="0")
    img(src=require("images/content/sky.png")).parallax__img.parallax__sky
.parallax__layer(data-speed="0.1")
    img(src=require("images/content/mountains.png")).parallax__img.parallax__mountains
.parallax__layer(data-speed="0.13")
    img(src=require("images/content/train.png")).parallax__img.parallax__train
.parallax__layer.parallax__layer_grass(data-speed="0.135")
    img(src=require("images/content/grass.png")).parallax__img.parallax__grass