.parallax__layer(data-speed="-0.18").parallax__sky
    img(src=require("images/content/sky.png")).parallax__img
.parallax__layer(data-speed="-0.08").parallax__mountains
    img(src=require("images/content/mountains.png")).parallax__img
.parallax__layer(data-speed="0.035").parallax__train
    img(src=require("images/content/train.png")).parallax__img
.parallax__layer(data-speed="0.020").parallax__grass
    img(src=require("images/content/grass.png")).parallax__img