.skills__content
    h3.skills__row-name Front-end
    include circle
    ul.skills__row
        +circle(["HTML5"],["-25"])
        +circle(["CSS3"],["-15"])
        +circle(["javascript"],["-75"])
        +circle(["jquery и Vue.js"],["-15"])
    h3.skills__row-name Workflow
    ul.skills__row
        +circle(["GIT"],["-15"])
        +circle(["Terminal"],["-25"])
        +circle(["Gulp"],["-50"])
        +circle(["Webpack"],["-65"])