.slider__content
    .slider-wrap
        ul.slider
            li.slider__item.slider__item1
            li.slider__item.slider__item2
            li.slider__item.slider__item3
            li.slider__item.slider__item4
            li.slider__item.slider__item5   
        .slider__control-wrap
            ul.slider__control-list
                li.slider__control-item.slider__control-item1.slider__item--active
                li.slider__control-item.slider__control-item2
                li.slider__control-item.slider__control-item3
                li.slider__control-item.slider__control-item4
                li.slider__control-item.slider__control-item5
    .slider.control-btns
        .slider__control-btn.control-left
            +icon("shortarrow", "slider__control-ico slider__control-left")
        .slider__control-btn.control-right
            +icon("shortarrow", "slider__control-ico slider__control-right")
.slider__desc-block
    .slider__number 1
    .slider__desc
        ul.slider__skill-list
            li.slider__skill-item HTML
            li.slider__skill-item CSS
            li.slider__skill-item javascript
        h3.slider__desc-title Сайт школы образования
        article.slider__desc-review Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
        a.slider__link
            +icon("link", "slider__link-ico")
            span.slider__link-text Посмотреть сайт


