.slider__content
    .slider-wrap
        .slider
            +image("content/slide1.jpg", "slider__selected", "selected slide")
        .slider__control-wrap
            ul.slider__control-list
                li.slider__control-item.slider__control-item1.slider__item--active
                li.slider__control-item.slider__control-item2
                li.slider__control-item.slider__control-item3
                li.slider__control-item.slider__control-item4
                li.slider__control-item.slider__control-item5
    .slider.control-btns
        .slider__control-btn.control-left
            +icon("shortarrow", "slider__control-ico slider__control-left")
        .slider__control-btn.control-right
            +icon("shortarrow", "slider__control-ico slider__control-right")
.slider__desc-block
    .slider__number 1
    .slider__desc
        ul.slider__skill-list
            li.slider__skill-item HTML
            li.slider__skill-item CSS
            li.slider__skill-item Javascript
        h3.slider__desc-title Сайт школы образования
        article.main-text.slider__desc-review Этот парень проходил обучение веб-разработке не где-то, а в LoftSchool! 2 месяца только самых тяжелых испытаний и бессонных ночей!
        a.slider__link
            +icon("link", "slider__link-ico")
            span.slider__link-text Посмотреть сайт


