include ./mixins.pug

<!DOCTYPE html>
html(lang="ru")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .maincontent
        include ./components/sections/welcome
        include ./components/sections/about
        include ./components/sections/skills
        include ./components/sections/works
        .background-wrap          
          .reviews__overlay
          include ./components/sections/reviews
          include ./components/sections/contacts
        include ./components/sections/footer
    include ./templates/entry.pug